*{
  background-color: rgb(237, 189, 189);
}

h1{
  color: rgb(151, 139, 125);
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px  solid rgb(204, 122, 29);
}

button{
  border-radius: 5px;
  border: 2px  solid rgb(204, 122, 29);
  padding: 12px 20px;
  margin: 8px 0;
}

button:hover{
  color: aliceblue;
}
